# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Test_ECS_1_08.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
